<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <title>Editar Recado</title>
</head>
<body>
    <header>
        <h2>Recados</h2>
        <a href="/" class="btVerTodos">Voltar ao mural</a>
    </header>
    <main class="mainNovoRecado">
        <div class="tituloForm">
            <h1>Editar<p class="recados">Recado</p></h1>
            <p>Atualize as informações do seu recado</p>
        </div>
        <form action="{{ url_for('atualizar_recado', id=id) }}" method="post">
            <label for="nome">Seu nome</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" value="{{ recado.nome }}" required>

            <label for="msg">Mensagem</label>
            <textarea type="text" name="msg" id="msg" rows="5" placeholder="Escreva sua mensagem..." required>{{ recado.mensagem }}</textarea>
            <button type="submit">
                <img src="{{ url_for('static', filename='img/save-svgrepo-com.svg') }}" alt="" class="iconAviao">
               <p class="enviar">
                Salvar alterações
               </p>
            </button>
        </form>
    </main>
</body>
</html>